@import "./theme.scss";

@each $key, $map in $col-palette {

    .content-block:nth-child(odd) .#{$key} {
        background-color: map-get($map, bg);
    }

    .content-block:nth-child(even) .#{$key} {
        background-color: map-get($map, bg-alt);
    }

    .content-block:first-child .#{$key} {
        background-color: map-get($map, bg);
    }

}