.dev {
    /* border: 1px dashed #bbb; */
}

.content-block-footer {
    background-color: #ccc !important;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.header-logo {
    max-height: 4rem;
    margin: auto;
}

.content-holder {
    height: 100%;
    padding: 2rem
}

.footer-icon-section {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2.4em;
    a {
        color: unset;
    }
}
@media only screen and (min-width: 768px) {

    .content-holder {
        max-width: 1024px;
    }
}

@media only screen and (max-width: 768px) {

    .header-logo {
        max-height: 2.8rem;
    }

    .header-title {
        width: 100%;
        text-align: center;
    }

    .header-logo-margin {
        margin-left: calc(-2.8em - 16px);
    }

    .content-holder {
        padding: 0.7rem
    }

    .display-element:not(:last-child) {
        margin-bottom: 0.7em;
    }

    .footer-section {
        text-align: center;
    }

    .footer-section:not(:last-child) {
        margin-bottom: 0.7em;
    }

    .footer-icon-section {
        margin: auto;
        font-size: 2em;
    }

    h1, h2 {
        font-size: x-large;
    }

    h3, h4, h5 {
        font-size: large;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

img {
    max-width: 100%;
}

.header-slanted-bg {
    width: 100%;
    height: 80%;
    overflow: hidden;
    // -webkit-transform: skewY(-12deg);
    transform: skewY(-8deg);
    // -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(150deg, #d00 15%, #aa00a8 70%, #7900dd 95%);
    position: absolute;
}

.white-text {
    color: #fff;
}

.darkener-bg {
    background-color: rgba($color: #000000, $alpha: 0.15);
    border-radius: 4px;
    padding: 1em;
}

  


