$col-template: (
  basic: (
    base: #bce0e0,
    body: #435764,
    primary: #8846e4,
    secondary: #ffcc00
  )
);

@function createLightPalette($template) {

  $tmp-faded-base:  desaturate(map-get($template, base), 10%);
  $tmp-base-bg-dark: darken($tmp-faded-base, 15%);
  $tmp-base-bg: lighten($tmp-faded-base, 15%);

  $palette: (
    base: map-get($template, base),
    body: map-get($template, body),
    primary: map-get($template, primary),
    secondary: map-get($template, secondary),
    faded-base: desaturate($tmp-faded-base, 10%),
    bg: lighten($tmp-faded-base, 15%),
    bg-alt: lighten($tmp-faded-base, 10%),
    bg-dark: darken($tmp-faded-base, 15%),
    bg-border: rgba($tmp-base-bg-dark, 0.5),
    bg-input: lighten($tmp-base-bg, 5%),
    body-muted: lighten(map-get($template, body), 35%)
  );
  @return $palette;
}

$col-palette: (
  basic: createLightPalette(map-get($col-template, basic))
);

$basic-palette: map-get($col-palette , basic);

$theme-colors: (
  "primary": map-get($basic-palette, primary),
  "secondary": map-get($basic-palette, secondary),
  "dark": map-get($basic-palette, primary)
);
